* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background: rgba(247,247,245,1);
}
.menu {
    width: 100%;
    height: 44px;
    background: #2f2f2f;
    opacity: 0.8;
    filter: alpha(opacity=100);

}

.menu-logo {
    margin: 10px;
    width: 78px;
    height: 24px;
    background: url(logo.png) no-repeat center;
    background-size: 100%;

}

.menu-find {
    margin: 10px;
    float: right;
    width: 25px;
    height: 25px;
    background: url(find.png) no-repeat center;
    background-size: 100%;

}

.menu-user {
    margin: 10px;
    width: 25px;
    height: 25px;
    background: url(user.png) no-repeat center;
    background-size: 100%;

}

.menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
}

.menu ul li a {
    line-height: 44px;
    display: block;
    color: white;
    text-align: center;
    padding: 0 22px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #020203;
}

.header {
    width: 100%;
    height: 163px;
}

.header-logo {
    margin: 60px auto 0 auto;
    width: 429px;
    height: 65px;
    background: url(header.png) no-repeat center;
    background-size: 100%;
}

.header ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.header ul li a {
    line-height: 44px;
    display: block;
    color: #000;
    text-align: center;
    padding: 0 22px;
    text-decoration: none;
}

.banner {
    margin: 0 auto;
    width: 1200px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.banner-pic {
    position: absolute;
    width: 1200px;
    height: 450px;
}

.banner-pic:nth-child(1) {
    z-index: 200;
    background: url(banner-pic-1.jpg);
    background-size: 100%;
    -webkit-animation: child-1-move 5s infinite;
    animation: child-1-move 20s infinite;
}

@keyframes child-1-move {
    50% {
        opacity: 0;
    }
}

.banner-pic:nth-child(2) {
    z-index: 400;
    background: url(banner-pic-2.jpg);
    background-size: 100%;
    -webkit-animation: child-2-move 10s infinite;
    animation: child-2-move 15s infinite;
}

@keyframes child-2-move {
    50% {
        opacity: 0;
    }
}

.banner-pic:nth-child(3) {
    z-index: 600;
    background: url(banner-pic-3.jpg);
    background-size: 100%;
    -webkit-animation: child-3-move 15s infinite;
    animation: child-3-move 10s infinite;
}

@keyframes child-3-move {
    50% {
        opacity: 0;
    }
}

.banner-pic:nth-child(4) {
    z-index: 800;
    background: url(banner-pic-4.jpg);
    background-size: 100%;
    -webkit-animation: child-4-move 20s infinite;
    animation: child-4-move 5s infinite;
}

@keyframes child-4-move {
    50% {
        opacity: 0;
    }
}

.banner-pic:nth-child(5) {
    z-index: 100;
    background: url(banner-pic-5.jpg);
    background-size: 100%;
}

.banner-text {
    position: absolute;
    z-index: 1000;
    left: 400px;
    width: 600px;
    height: 40px;
    margin: 0 20px;
    bottom: 10px;
}
.banner-text ul{
    list-style-type: none;
}
.banner-text ul li{
    float: left;
    width: 1px;
    height: 1px;
    margin: 15px;
    padding: 3px 19px;
    background: #fff;
}
.service-list{
    margin: 0 auto;
    width: 1200px;
    height: 160px;
    display: flex;
}
.banner-service{
    margin: 10px;
    width: 293px;
    height: 140px;
}
.banner-service:nth-child(1){
    background: url(service-1.png) no-repeat center;
    background-size: 100%;
}
.banner-service:nth-child(2){
    background: url(service-2.png) no-repeat center;
    background-size: 100%;
}
.banner-service:nth-child(3){
    background: url(service-3.png) no-repeat center;
    background-size: 100%;
}
.banner-service:nth-child(4){
    background: url(service-4.png) no-repeat center;
    background-size: 100%;
}
.competitive-products-list{
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.competitive-title{
    padding: 38px 0 25px 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.competitive-note{
    float: right;
    font-size: 16px;
}
.competitive-products{
    width: 380px;
    height: 500px;
    margin: 10px;
    background: #fff;
}
.competitive-pic1{
    margin: 58px auto 0 auto;
    width:230px ;
    height: 230px;
    background: url(comptitive-1.png) no-repeat center;
    background-size: 100%;
}
.competitive-pic2{
    margin: 58px auto 0 auto;
    width:230px ;
    height: 230px;
    background: url(comptitive-2.png) no-repeat center;
    background-size: 100%;
}
.competitive-pic3{
    margin: 58px auto 0 auto;
    width:230px ;
    height: 230px;
    background: url(comptitive-3.png) no-repeat center;
    background-size: 100%;

}
.competitive-products li:nth-child(1){
    list-style: none;
    margin-top: 38px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.competitive-products li:nth-child(2){
    list-style: none;
    margin: 10px 10px 48px 10px;
    text-align: center;
}
.competitive-products li:nth-child(3){
    list-style: none;
    margin: 10px;
    text-align: center;
    color: #f00;
}
.competitive-phone-list{
    margin: 0 auto;
    width: 1200px;
    height: 970px;
    display: flex;
    flex-wrap: wrap;
}
.competitive-phone-title{
    height: 37px;
    width: 100%;
}
.competitive-phone-title{
    margin: 58px auto 0 auto;
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 30px;
}
.competitive-phone-note{
    float: right;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.competitive-news{
    width: 585px;
    height: 380px;
    margin: 5px;
    background: url(competitive-news.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-product{
    height: 380px;
    width: 290px;
    margin: 5px;
    background: #fff;
}
.competitive-phone-pic-1{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic1.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-pic-2{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic2.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-pic-3{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic3.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-pic-4{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic4.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-pic-5{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic5.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-pic-6{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-phone-pic6.png) no-repeat center;
    background-size: 100%;
}
.competitive-phone-product li:nth-child(1){
    list-style: none;
    margin-top: 38px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.competitive-phone-product li:nth-child(2){
    list-style: none;
    margin: 10px 10px 28px 10px;
    font-size: 12px;
    text-align: center;
}
.competitive-phone-product li:nth-child(3){
    list-style: none;
    margin: 10px;
    text-align: center;
    color: #f00;
}
.competitive-parts-list{
    margin: 0 auto;
    width: 1200px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
}
.competitive-parts-title{
    height: 37px;
    width: 100%;
    margin: 27px auto 0 auto;
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 30px;
}
.competitive-parts-note{
    float: right;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}

.competitive-parts-product{
    width: 290px;
    height: 380px;
    margin: 5px;
    background: #fff;
}
.competitive-parts-pic-1{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-1.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-2{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-2.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-3{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-3.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-4{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-4.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-5{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-5.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-6{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-6.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-7{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-7.png) no-repeat center;
    background-size: 100%;
}
.competitive-parts-pic-8{
    margin: 43px auto 0 auto;
    width: 172px;
    height: 172px;
    background: url(competitive-parts-pic-8.png) no-repeat center;
    background-size: 100%;
}

.competitive-parts-product li:nth-child(1){
    list-style: none;
    margin-top: 38px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.competitive-parts-product li:nth-child(2){
    list-style: none;
    font-size: 12px;
    margin: 10px 10px 28px 10px;
    text-align: center;
}
.competitive-parts-product li:nth-child(3){
    list-style: none;
    margin: 10px;
    text-align: center;
    color: #f00;
}
.bottom-list{
    width: 1200px;
    height: 89px;
    background: #fff;
    display: flex;
    padding: 50px 75px 50px 75px;
    justify-content: space-between;
}
.bottom-content{
    width: 25%;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.partner-list{
    width:1200px;
    height: 360px;
    background: #fff;
    padding: 30px 75px 30px 75px;
    display: flex;
    flex-wrap: wrap;
}
.partner{
    width:15% ;
    height: 260px;
    font-size: 12px;
    line-height: 23px;
}
.partner li{
    list-style: none;
}
.service{
    width: 240px;
    height: 260px;
}
.service li:nth-child(1){
    list-style: none;
    font-size: 24px;
    line-height: 40px;
    color: #008ddc;
    text-align: right;
}
.service li:nth-child(2){
    list-style: none;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
}
.service li:nth-child(3){
    list-style: none;
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    text-align: right;
}
.copyright{
    width: 1200px;
    height: 82px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.copyright ul li:nth-child(1){
    margin-top: 35px;
    list-style: none;
    height: 46px;
    font-size: 12px;
}
.copyright ul li:nth-child(2){
    float: right;
    font-size: 12px;
    list-style: none;
    font-weight: 500;
}